.vscode/*
*.code-workspace
*.o
*.a
*.dll
*.out
*.exe
*.mp4
Meeting with Professor Craig/questions_to_ask_prof.txt
Meeting with Professor Craig/Meeting with Professor Craig.mp4 - Shortcut.lnk
/Demo Stuff

/Meeting with Professor Craig
Main(Deprecated).cpp
Main(z_buffer).cpp
