.vscode/*
*.code-workspace
*.o
*.dll
*.exe
*.mp4
Meeting with Professor Craig/questions_to_ask_prof.txt
Meeting with Professor Craig/Meeting with Professor Craig.mp4 - Shortcut.lnk

/Meeting with Professor Craig
Main(Deprecated).cpp
